# Não coloque espaço entre a chave e o valor, isso não foi tratado no env.c
# Preencha os valores sem aspas, o env.c já os converte em string
DB_NAME=Distros
DB_USER=postgres
DB_PASSWORD=
DB_HOST=localhost